
<div class="container mt-4">
    <div class="row">
        <!-- Loop through the services array to create cards dynamically -->

        @for (item of data; track $index) {
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title">Name:{{item.name}}</h5>
                    <p class="card-text">Price: {{item.basePay}} <br>Rating: {{item.rating}}</p>
                   
                    <!-- <button type="submit" class="btn btn-primary btn-block" (click)="bookNow()">Book Now</button> -->
                </div>
            </div>
        </div>
        }


    </div>
</div>